html {
    padding: 0;
    margin: 19px 17px;
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: auto;
    opacity: 1;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 300px 4fr;
}
header {
    display: none;
    user-select: none;
    font-size: 1.2em;
    justify-content: space-between;
    background: #1e1c1c;
    display: none;
    padding: 17px 7px;
    margin-bottom: 14px;
}
main {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 14px;
}
h1 {
    margin-bottom: 4px;
}
img {
    user-select: none;
}
.fwm {
    user-select: none;
    background: linear-gradient(10deg, #03080a, #050a12);
    border-radius: 17px;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fwm span {
    font-weight: bold;
    font-size: 1.3em;
}
.fwm .button {
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 4px;
    background: linear-gradient(180deg,#baf7ff,#7aefff);
    /*box-shadow: 0 4px 30px rgba(122,239,255,.35);*/
}

.sidebar {
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    margin-right: 17px;
    padding: 14px;
    border-radius: 17px;
    background-color: #1e1c1c;
}
.sidebar .logo {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 14px;
}
.sidebar .nav {
    display: flex;
    flex-direction: column;
}
.sidebar .nav .nav-gap {
    display: block;
    margin: 7px 0;
}
.sidebar .nav .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: 150ms;
    padding: 4px;
    border-radius: 8px;
}
.sidebar .nav .nav-item:hover {
    background-color: #282828;
}
.sidebar .nav .nav-item svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.sidebar .foot {
    text-align: center;
    margin-top: 17px;
    font-size: 12px;
    color: #5f5d5d;
}
.sidebar .foot a, .sidebar-sponsored .foot a {
    text-decoration: dotted underline;
    color: inherit;
}
.sidebar-sponsored {
    user-select: none;
    margin-top: 10px;
    margin-right: 17px;
    border-radius: 17px;
    background-color: #1e1c1c;
    filter: grayscale(1);
    transition: linear 0.1s filter;
}
.sidebar-sponsored:hover {
    background-color: #282828;
    filter: grayscale(0);
}
.sidebar-sponsored img {
    border-radius: 17px;
}
.sidebar-sponsored .foot {
    padding-bottom: 4px;
    text-align: center;
    font-size: 12px;
    color: #5f5d5d;
}

.posts {
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    user-select: none;
}
.posts .post-card {
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 17px;
    text-decoration: none;
    color: #fff;
    background-color: #0a0a0a;
    width: 260px;
    min-width: 260px;
}
.posts .title {
    font-size: 1.4em;
    font-weight: bold;
}
.posts .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.img-box {
    border-radius: 7px;
    height: auto;
    max-width: 77%;
}

.contents {
    background: #1e1c1c;
    color: #fff;
    border-radius: 17px;
    padding: 1px 17px;
}
.contents p {
    text-align: justify;
}
.contents a {
    color: #438afc;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.contents a:hover {
    text-decoration: none;
    color: #1e1c1c;
    background-color: #438afc;
}
code {
    font-family: 'Roboto Mono', monospace;
    padding: 0 4px;
    margin: 0 -4px;
    background-color: #141414;
}
.codeblock {
    font-family: 'Roboto Mono', monospace;
    display: block;
    background-color: #141414;
}
.codeblock pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    overflow: auto;
    margin: 0;
    padding: 4px;
}
.codeblock .prelude {
    padding: 4px 10px;
    display: flex;
    background: #0a0a0a;
    justify-content: space-between;
}
.author-card {
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background: #141414;
    padding: 10px 14px;
}
.author-card .text {
    margin-left: 7px;
}
.author-card .info {
    display: flex;
    align-items: center;
}
.author-card .date {
    color: #939393;
}
.author-card .badge, .badge {
    display: inline-block;
    user-select: none;
    margin-left: 6px;
    padding: 0 4px;
    background-color: #7d4696;
    border-radius: 8px;
    color: #1e1c1c;
}
.author-card img {
    border-radius: 50%;
    border: 1px solid #438afc;
}
.author-card .name {
    font-size: 1.1em;
}

@media (max-width: 1000px) {
    html {
        padding: 0;
        margin: 0;
    }
    main {
        margin: 0 17px;
    }
    nav {
        display: none;
        margin: 0 17px;
    }
    .sidebar {
        margin-right: 0;
        margin-bottom: 14px;
    }
    .sidebar .logo {
        display: none;
    }
    .sidebar-sponsored {
        display: none;
    }
    header {
        display: flex;
    }
    body {
        display: unset;
    }
}
@media (max-width: 600px) {
    .codeblock .prelude {
        flex-direction: column;
    }
}

